*{
    padding: 0;
    margin: 0;
}


/* MODE MOBILE FIRST*/

/*  header */
h1{
    text-align: center;
    color: white;
   
}

header{
    background-color: black;
    padding: 100px 0;

}

/* footer */

footer h2{
    text-align: center;
    color: white;

}

footer {
    background-color: black;
    padding: 20px 0;

}

/* main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}

section{
    padding: 40px;
    background-color: rgb(198, 195, 195);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: 100;
    gap: 60px;
}

.bouton{
    color: rgb(255, 255, 255);
    background-color: brown;
    padding: 5px 40px;
    border-radius: 20px;
    
}

h2{
    font-weight: 100;
}

p{
    display: none;
}

img{
    width: 100%;
}

.image{
    width: 40px;
    display: none;
}

/* MODE TABLETTE à partir de 600px */

@media screen and (min-width:600px){

    /* modifications header */
    header{
        padding: 50px 0;

    }

    h1{
        font-weight: 100;
    }

    /* modifications main */
    body{
        background-color: rgb(200, 198, 198);
    }

    section{
        background-color: rgb(255, 255, 255);
        border: 4px solid black;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        width: 20%;
        position: relative;
    }

    .bouton{
        position: absolute;
        top: 100%;
        left: 100%;
        z-index: 10;
        transform: translate(-50%, -50%);
        padding: 13px 20px;
        background-color: black;
        font-size: 10px;
       
    }
    p{
        display: block;
    }
    main{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 50px;
        padding: 0 40px;

    }
    
}

/* MODE DESKTOP à partir de 1024 px */

@media screen and (min-width:1024px){

/* modifications header main et footer */
h1, h2{
    color: red;
}

/* modication main */
body{
    background-color: white;
}

 .bouton h2{ 
    color: white;
}

section {
     border: 2px solid black;
}
 
 .image{
    display: block;
    margin-left: -15px;
    
 }

 
 .titre{
    display: flex;
    gap: 5px;
    align-items: center;

    

 }

}




